<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oranllc.juhe">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application>
        <meta-data
            android:name="com.thinkland.juheapi.openid"
            android:value="JH03e7e4d788fe696b467d75d09f034d7d" />修改OpenId
    </application>
</manifest>
