.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
build
*.iml
/baidumap/baidumap.iml
/common/common.iml
/customshapeimageview/customshapeimageview.iml
/imageloader/imageloader.iml
/jpush/jpush.iml
/juhe/juhe.iml
/kanwheel/kanwheel.iml
/nineoldandroids/nineoldandroids.iml
/okhttputils/okhttputils.iml
/ptr-lib/ptr-lib.iml
/umenganalytics/umenganalytics.iml
/umengsocialshare/umengsocialshare.iml
/zbase/zbase.iml
/zdemo/zdemo.iml
/zxing/zxing.iml
.idea
speeddating
helper
/box
zouqi
