<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oranllc.template">

    <application
        android:name=".global.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.LaunchActivity"  android:theme="@style/Fullscreen">启动页
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.GuideActivity"></activity>引导页
        <activity android:name=".activity.HomeActivity"></activity>主页
        <activity android:name=".activity.RegisterActivity"></activity>注册
        <activity android:name=".activity.LoginActivity"></activity>登录
        <activity android:name=".activity.WebViewActivity"></activity>浏览器
        <activity android:name=".activity.SettingActivity"></activity>设置


    </application>
</manifest>